* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: white;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.category {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1000px;
    max-width: 1200px;
    margin: 10px;
}

.category-image {
    width: 40%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.category-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.category-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-content p {
    font-size: 16px;
    color: #555;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background: gold;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  height: 60px;
  width: 350px;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}